a {
    text-decoration: none;
}

li {
    list-style: none;
}


#hero {
    background: url("foto/bulldog.jpeg");
    height: calc(100vh - 74px);
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



wrapper {
    position: absolute;
    width: 300px;
    height: 300px;
    transform: translate(-50%, -50%);
}


div .wrapper .green {
    background-color: green;
}